
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/public/css/style.css">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Register Page</title>  
    </head>
    <body>
        <div class="l-form">
            <div class="shape1"></div>
            <div class="shape2"></div>

            <div class="form">
                <img src="/public/images/frame1.png" alt="" class="form__img">

                <form action="" class="form__content">
                    <h1 class="form__title">Create account</h1>

                    <div class="form__div form__div-one">
                        <div class="form__icon">
                            <i class='bx bx-user-circle'></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Username</label>
                            <input type="text" class="form__input">
                        </div>
                    </div>

                    <div class="form__div form__div-one">
                        <div class="form__icon">
                            <i class='bx bx-envelope' ></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Email</label>
                            <input type="email" class="form__input">
                        </div>
                    </div>

                    
                    <div class="form__div">
                        <div class="form__icon">
                            <i class='bx bx-lock' ></i>
                        </div>

                        <div class="form__div-input">
                            <label for="" class="form__label">Password</label>
                            <input type="password" class="form__input">
                        </div>
                    </div>
                    
                    <input type="submit" class="form__button" value="Create account">

                    <!-- <div class="form__social">
                        <span class="form__social-text">Or login with</span>

                        <a href="#" class="form__social-icon"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-google' ></i></a>
                        <a href="#" class="form__social-icon"><i class='bx bxl-discord' ></i></a>
                    </div> -->

                    <div class="form__login">
                        <span class="form__login-text">Already have an account?</span>
                        <a href="/src/views/auth/LoginPage.html" class="form__login-link">Login</a>
                    </div>

                </form>
            </div>

        </div>
        
        <!-- ===== MAIN JS ===== -->
        <script src="/public/js/main.js"></script>
    </body>
</html>
